[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pubformat"]
	path = pubformat
	url = https://github.com/reynolds826/pubformat
